*.o
*.lo
*.Plo

build/linux/debug/include
build/linux/debug/lib
build/linux/debug/src

build/linux/release/include
build/linux/release/lib
build/linux/release/src

Makefile
config.h
config.log
config.status
libtool
stamp-h1

Makefile.in
.DS_Store
aclocal.m4
config.h.in
config.h.in~
configure
Makefile.in

autom4te.cache
build-aux

m4/libtool.m4
m4/lt~obsolete.m4
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
m4/.DS_Store

